<div class="col-lg-8 col-lg-offset-2 text-center">
  <h1 class="white-header">Login</h1><br>
  <div id="login-form">
    <form class="form-inline text-center" action="/sessions" method="POST">
      <div class="form-group">
        <label>Email: </label>
        <input type="email" name="email" class="form-control input-lg">
      </div>
      <div class="form-group">
        <label>Password: </label>
        <input type="password" class="form-control  input-lg" name="password">
      </div><br>
      <button type="submit" class="btn btn-primary login-button btn-width">Login</button>
    </form>
  </div>
</div>