* {
  box-sizing: border-box;
}

/* General Styles */
body {
  background-image: url("/Up/Snapshots/Up.jpg");
  font-family: 'Handlee', cursive;
  background-size: cover;
}

h1, h2, h3, h4, label {
  color: black;
}

p {
  font-size: 20px;
  line-height: 35px;
}

label {
  font-size: 25px;
  color: #F7FBFC;
  text-shadow: 1px 2px 1px black;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
  color: #4682B4;
  background-color: #F8F8FF;
}

.btn-width {
  width: 250px !important;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border: 1pt solid white;
  font-size: 25px;
  text-shadow: 1px 1px 1px black;
}

.white-header {
  font-size: 30px;
  color: #F7FBFC;
  text-shadow: 1px 2px 1px black;
}

/* Navbar */
.navbar {
  background-color: white;
  font-size: 17px;
}

.navbar-brand {
  font-size: 22px;
}

/* Video Background */
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  margin-top: -20px;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}


/* Landing Page */
.form-container {
  margin-top: 1%;
  position: absolute;
  z-index: 20000;
  top: 60%;
  left: 20%;
  right: 20%;
  display: inline-block;
}

.front-page-text {
  position: absolute;
  z-index: 20000;
  top: 25%;
  left: 10%;
  right: 10%;
  text-align: center;
  display: block;
}

.front-page-text * {
  color: #F7FBFC;
}

.front-page-text h1{
  font-size: 80px;
  text-shadow: 2px 2px 2px black;
}

.front-page-text h2{
  font-size: 35px;
  text-shadow: 1px 2px 1px black;
  padding-bottom: 40px;
}

.login-button {
  box-shadow: 1px 1px 5px black;
}

#register, #login {
  margin: 5px;
  box-shadow: 2px 2px 5px black;
}

/* Forms */
.input-lg {
  font-size: 20px;
  color:  #696969;
  line-height: 20px;
  width: 325px !important;
}

#form-group {
  display: inline-block;
}

#login-register a {
  text-shadow: 1px 1px 1px black;
}

/* Registration Form */
#register-form {
  position: absolute;
  z-index: 20000;
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 20%;
  margin-right: 20%;
}

#register-form .input-lg {
  margin: 0 auto;
}

/* Login Form*/
#login-form {
  margin-top: 1%;
  font-size: 45px;
  text-shadow: 1px 1px 1px black;
}

/* Daily Activities index and recent pages */
.card {
  background-color: #F7FBFC;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 1px;
}

.category {
  font-size: 22px;
}

.edit-link {
  font-size: 16px;
  font-style: italic;
}

.edit-link a:link {
  color: black;
}

.edit-link a:visited {
    color: black;
}

#post-date {
  font-size: 16px;
  font-style: italic;
}

/* Submit button on Daily Activities edit page */
.edit-submit {
  margin-bottom: 20px;
}