<h1>NEW USER REGISTRATION</h1>

<form action="/users" method="POST">
  <label>First Name: </label><input type="text" name="user[first_name]"><br>
  <label>Last Name: </label><input type="text" name="user[last_name"><br>
  <label>Username: </label><input type="text" name="user[username]"><br>
  <label>Email: </label><input type="email" name="user[email]"><br>
  <label>Phone Number: </label><input type="text" name="user[phone_number]"><br>
  <label>Password: </label><input type="password" name="user[password]"><br>
  <label>Password Confirmation: </label><input type="password" name="password_confirmation"><br>
  <input type="submit" value="Create Account">
</form>