<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<div class="container text-center form-center">
  <form id="register-form" action="/users" method="POST">
    <div class="row"> 
      <div class="form-group col-md-6">
        <label>Username: </label>
        <input type="text" class="form-control input-lg" name="user[username]" placeholder="username"><br>
      </div>
      <div class="form-group col-md-6">
        <label>Email: </label>
        <input type="email" class="form-control input-lg" name="user[email]" placeholder="email"><br>
      </div>
    </div>
    <div class="row"> 
      <div class="form-group col-md-6">
        <label>Password: </label>
        <input type="password" class="form-control input-lg" name="user[password]" placeholder="must be at least 6 characters"><br>
      </div>
      <div class="form-group col-md-6">
        <label>Password Confirmation: </label>
        <input type="password" class="form-control input-lg" name="password_confirmation" placeholder="confirm the password you entered"><br>
      </div>
    </div>
    <div class="row"> 
      <div class="form-group">
        <button type="submit" class="btn btn-default btn-width">Create Account</button>
      </div>
    </div>
  </form>
</div>