<div class="navbar-header">
  <a href="/" class="navbar-brand">High-Low</a>
</div>

<% if current_user %>
  <ul class="nav navbar-nav">
    <li><a href="/daily_activities">Profile Page</a></li>
    <li><a href="/sessions/delete">Logout</a></li>
  </ul>
<% end %>