<% if current_user %>
  <a href="/users/<%= current_user.id %> ">Profile Page</a>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
  </form>
  <a href="/">Home</a>
<% end %>