<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<div class="landing-page">
  <div class="homepage-hero-module">
      <div class="video-container">
          <div class="filter"></div>
          <video autoplay loop class="fillWidth">
              <source src="Up/MP4/Up.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
              <source src="Up/WEBM/Up.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
          <div class="poster hidden">
              <img src="Up/Snapshots/Up.jpg" alt="">
          </div>
      </div>
  </div>
  <div class="container">
    <div class="front-page-text">
      <h1 class="app-name">High Low</h1>
      <h2>Keep track of your daily highs and lows</h2>
    </div>
    <div class="form-container">
      <div id="login-register" class="col-md-12 text-center">
        <a id="login" class="btn btn-default btn-width" href="/sessions/new" role="button">Login</a>
        <a id="register" class="btn btn-default btn-width" href="/users/new" role="button">Register</a>
      </div>
    </div>
  </div>
</div>