<div class="container">
  <div class="row">
    
  <div class="col-lg-8 col-lg-offset-2">
    <img id="logo" class="img-responsive" src="logo.png" alt="high-low-logo">
  </div>
  <div id="login-register" class="col-lg-6 col-lg-offset-3 text-center">
    <a id="login" class="btn btn-default pull-left" href="/sessions/new" role="button">Login</a>
    <a id="register" class="btn btn-default pull-right" href="/users/new" role="button">Register</a>
  </div>
  </div>
</div>


    
  