<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div id="index-row" class="row">
    <div id="logo-container" class="col-lg-8 col-lg-offset-2">
      <img id="logo" class="img-responsive" src="logo.png" alt="high-low-logo">
    </div>
  </div>
  <div id="login-register" class="col-lg-6 col-lg-offset-3 text-center">
    <a id="login" class="btn btn-default" href="/sessions/new" role="button">Login</a>
    <a id="register" class="btn btn-default" href="/users/new" role="button">Register</a>
  </div>
</div>



    
  