<div id="login-form">
  <form class="form-inline text-center" action="/sessions" method="POST">
    <div class="form-group">
      <label>Email: </label>
      <input type="email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label>Password: </label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary login-button">Login</button>
  </form>
</div>